# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives:**
- List popular languages for Data Science
- List popular Tools for Data Science
- List popular Libraries for Data Science

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. NumPy
3. Pandas
4. Seaborn
5. Keras
6. Tenserflow
7. Matplotlib

| Data Science Tools|
|-------------------|
|Jupyter Notebooks|
|Rstudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Mahmoud Alsaleh